* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    /*height: 100; yaha hum log height nhi le rhe hai kyuki humko nhi pta hai ki wesite kitni niche tk jaayegi*/
}

#hero {
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 35px 40px;
    color: #fff;
}

#nav a {
    color: #fff;
    text-decoration: none;

}
#heading{
    margin-top: 90px;
    
}

#heading h1 {
    margin-left: 30px;
    opacity: .6;
    /* isse text ka color dull ho jata hai */
    line-height: 1;
    /*font-family: "General Sans Medium";*/
    font-size: 10vw;
    /*vw isliye liya ki jisse ki font size chota bada hota rhega jaise screen choti bdi karenge  */
    text-transform: uppercase;
    font-weight: 900;
}
#heading #secondh1{
    margin-left: 230px;

}
.blocktext{
    width: fit-content;
    
}
.blocktext h5{
    font-size: 15px;
    text-align: right;
}
#chhotiheadings{
   
    margin-top: 100px;
    padding-right: 50px;
}
#chhotiheadings h5{
    font-size: 1vw;
    margin-top: .5vw;
     text-transform: uppercase;
    text-align: right;
}
#herofooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#herofooter a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
#herofooter .circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
    display: flex;
    align-items: center;

}
